/* ************************** BASIC STYLING ************************** */


/* ************************** MARKER AND LEGEND ICON STYLING AND REFERENCES ************************** */
/* set up the map icon sprites to reference the strava sprite sheet */
.start-icon, .finish-icon {
  background-image: url('https://d3nn82uaxijpm6.cloudfront.net/assets/sprites/sprites-map-9edbefa3bd42dbf847ae5421c0fa9b65ec40ea91ec53f5d42555a61f9af64fc6.png');
  background-repeat: no-repeat;
}

.start-icon {
  /* height: 32px; */
  background-position: 0 -144px;
}

.finish-icon {
  /* height: 32px; */
  background-position: -24px -144px;
}

/* reference the URL of the default icon used by leaflet and set its size so we can replace a list bullet with the imag  */
.default-icon {
  /* background-image: url('https://maps.gstatic.com/mapfiles/ms2/micons/green.png'); */
  background-image: url('https://unpkg.com/leaflet@1.6.0/dist/images/marker-icon.png');
  background-size: 12px;
  background-repeat: no-repeat;
  background-position: 5px;  
}

.bikelapse-icon {
  /* background-image: url('https://maps.gstatic.com/mapfiles/ms2/micons/green.png'); */
  background-image: url('../img/favicon-32x32.png');
  background-size: 20px;
  background-repeat: no-repeat;
  color: rgb(236, 85, 85);
  /* background-position: bottom;  */
}


/* create the line used to represent a "route" in the legend */
.legend-route-icon { 
  width: 30px;
  height: 5px;
  /* background:rgba(62, 146, 204, 1); */
  /* float: left; */
  display: inline-block;
  /* margin-top: 8px; */
  margin-right: 8px;
  margin-bottom: 3px;
  opacity: 1;
}



/* ************************** LEGEND STYLING ************************** */
/* set up the legend, which we are using both the "info" and "legend" class to style */
.info {
  padding: 6px 8px;
  font: 16px/18px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}

/* not using this one */
/* example of how to style elements within classed elements */
/* 
.info h4 {
  margin: 0 0 5px;
  color: #777;
} 
*/

/* make the legend display underneath UI elements like elevation and layer control */
.leaflet-bottom.leaflet-right {
  z-index: 800 !important;

}

.legend {
  line-height: 25px;
  color: #555;
}

/* Specific styling for the bullets (which we will use the marker sprites to fill) */
.legend i {
  width: 24px;
  height: 24px;
  float: left;
  /* padding-top: 1px; */
  /* padding-bottom: 1px; */
  margin-right: 8px;
  margin-top: -1px;
  opacity: 1;
}

/* NOT USING THIS ONE */
/* if we were to use <span> instead of <i> (bullets) to create the legend icons, 
we would also need to add this class along with the usual class for each icon */
.legend-icon-positioning { 
  width: 24px;
  height: 24px;
  float: left;
  /* padding-top: 1px; */
  /* padding-bottom: 1px; */
  margin-right: 8px;
  margin-top: -1px;
  opacity: 1;
}



/* styling for when we were using dots in the legend */
/* .legendDots { */
  /* width: 16px;
  height: 16px; */
          /* float: left; */
          /* margin-top: 8px; */
          /* padding-top: 10px; */
  /* margin-right: 8px;
  opacity: 0.7; */
          /* background-color: #bbb; */
  /* border-radius: 50%; */
          /* color: black; */
  /* border:1px solid black; 
  display: inline-block; */
/* } */


/* CSS TO COUNTERACT BOOTSTRAP STYLES */

.leaflet-popup-content h3 {
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.leaflet-popup-content h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}


/* YOUTUBE PLAYER CSS */
.transport-controls{
  margin: 5px 0px;
}

#player-parent{
  padding: 8px 8px 4px 8px;
  /* font: 12px/14px Arial, Helvetica, sans-serif; */
  /* background: white; */
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}

#play-pause, #stop{
  font-family: Arial, Helvetica, sans-serif;
  height: 2rem;
  width: 2rem; /* if using "►" or "⎮⎮" for button text */
  /* width: 4rem; */ /* if using "PLAY" or "PAUSE" for button text */
  text-align: center;
  vertical-align: middle;
  padding: 0px 1px 0px 0px;
  
  /* background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;       */
  border-radius: 4px;
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  /* padding: 15px 32px; */
  /* text-align: center; */
  text-decoration: none;
  display: inline-block;
  /* font-size: 16px;       */
  /* background-color: "green"; */

  /* opacity: 0.9; */
  /* box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); */
  cursor: pointer;
}

#stop{
  margin-left: 5px;
}

#play-pause:hover, #stop:hover, .slider::-webkit-slider-thumb:hover  {
  /* opacity: 1; */
  background: #3c8b3e;
}

/* HTML SYMBOLS LIST: http://www.scrollseek.com/wd/html_symbols_complete.html */
/* ᐅ - 5125 - play button option 1 */
/* ► - 9658 - play button option 2 */
/* ⏯ - 9199 - play button option 3 */
/* ⎮ - 9134 - use 2 for pause */
/* ຩ - 3753 - stop button option 1 */
/* ▇ - 9607 - stop button option 2 */
/* ⏹ - 9209 - stop button option 3 */

#play-pause.play::after{
    content: "►";
}

#play-pause.pause:after{
    content: "⎮⎮";
}

.slider{
  -webkit-appearance: none;
  width: 80%; /* Width of the outside container */
  vertical-align: middle;
  margin-left: 5px;
  height: 1rem; /* height of the bar the "thumb" slides on */
  border-radius: 5px;
  background: #ffffff;
  /* outline: none; */
  opacity: 0.85;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover{
  opacity: 1;
}



.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 0.8rem;
  height: 2rem;
  border-radius: 25%;
  background: #4CAF50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 0.8rem;
  height: 2rem;
  border-radius: 25%;
  background: #4CAF50;
  cursor: pointer;
}




/* .steelblue-theme.leaflet-control.elevation .background{
  background-color:rgba(70,130,180,.2);
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  -ms-border-radius:5px;
  -o-border-radius:5px;border-radius:5px
}

.steelblue-theme.leaflet-control.elevation .axis line,
.steelblue-theme.leaflet-control.elevation .axis path{
  fill:none;
  stroke:#0d1821;
  stroke-width:2
} */

/* .steelblue-theme.leaflet-control.elevation .mouse-drag{
  fill:rgba(23, 117, 31, 0.4)
} */
/* .steelblue-theme.leaflet-control.elevation .elevation-toggle{
  cursor:pointer;
  box-shadow:0 1px 7px rgba(0,0,0,.4);
  -webkit-border-radius:5px;
  border-radius:5px;
  width:36px;
  height:36px;
  background-color:#f8f8f9
}
.steelblue-theme.leaflet-control.elevation .elevation-toggle-icon{
  background:url(images/elevation-steelblue.png) no-repeat center center
}
.steelblue-theme.leaflet-control.elevation .area{
  fill:#4682b4
}

.steelblue-theme.leaflet-control.elevation .mouse-focus-lin{
    pointer-events:none;
    stroke-width:1;
    stroke:#210d0d
}

.steelblue-theme.leaflet-control.elevation-collapsed .background{
  display:none
}

.steelblue-theme.leaflet-control.elevation-collapsed .elevation-toggle{
  display:block
}

.steelblue-theme.height-focus{
  stroke:#46b458;
  fill:#b44646;
  font-weight: 900;
}
.steelblue-theme.height-focus.line{
  pointer-events:none;
  stroke-width:2
} */





